.inputs {
  text-align: left;
  color: black;
  margin: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.inputs2 {
  border-radius: 15px;
  margin-top: 500px;
  text-align: left;
  color: black;
  background-color: #ffffff;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  box-shadow: 1.5px 1.5px 1.5px rgb(238, 223, 255);
}


.login-button {
  text-align: left;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 24;
  margin: auto;
  width: 100%;
  --background: #0c2d48;
  --border-radius: 50px;
}
