.welcome-card{
  box-shadow:  2px 2px 4px #c8e7ff;
  border-radius: 15px;
  }

  .head{
  font-weight: 600;
  color: #0c2d48;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  float: left;
}

.button{
  --background :rgb(97, 107, 243);
}

.hidden-container {
  position: absolute;
  top: -9999em;
}

