<script src="signup.page.ts"></script>
<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img class="header-img" src="../../assets/imgs/Picture1.png" />
        </ion-card>
      </ion-col>

      <!-- login card -->
      <ion-col size="6">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size="2.5" style="padding: 40px 0 0 40px">
                <img src="../../assets/imgs/logo-removebg-preview.png">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-padding">
                <ion-card-header class="login-heading">
                  Sign Up to your Dashboard
                </ion-card-header>
                <ion-card-subtitle class="subtitle">
                  Monitor your performance and see your growth
                </ion-card-subtitle>
              </ion-col>
            </ion-row>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <ion-row>
                  <ion-col class="ion-padding">
                    <ion-card-content>
                      <div class="inputs">
                        <ion-label>
                          Your email<ion-text style="color:red">*</ion-text>
                        </ion-label>
                        <div class="inputs2">
                          <ion-input class="form-control" type="email" placeholder="  xyz@mail.com "
                            formControlName="email" id="email">
                          </ion-input>
                        </div>
                      </div>
                      <ion-text
                        *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
                        class="help-block">
                        Please enter a valid email</ion-text>
                    </ion-card-content>
                  </ion-col>
                </ion-row>



                <ion-row>
                  <ion-col class="ion-padding">
                    <ion-card-content>
                      <div class="inputs">
                        <ion-label>Password<ion-text style="color:red">*</ion-text>
                        </ion-label>
                        <div class="inputs2">
                          <ion-input type="password" placeholder=" Min 8 characters and upto 12" class="form-control"
                            formControlName="password" id="password">
                          </ion-input>
                        </div>
                      </div>
                      <ion-text
                        *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                        class="help-block">
                        Please enter a valid password</ion-text>
                      <div id='check'></div>
                      <div>
                        <ion-card-content class="check" checked slot="start" style="display: inline;">
                          <ion-checkbox [(ngModel)]='isChecked' [ngModelOptions]="{standalone: true}" style="--size:12px;" color="primary">
                          </ion-checkbox>
                          <ion-text style="cursor: pointer;" style="color:black"> By agreeing, I accept the <b style="color: #0c2d48"
                              routerLink="/terms">Terms &
                              Conditions</b>
                          </ion-text>
                        </ion-card-content>
                      </div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>



              <ion-row>
                <ion-col class="ion-padding">
                  <ion-card-content>
                    <!-- <ion-button class="primButton" type="submit" [routerLink]="userexists() ? ['/home-page'] : []">Login</ion-button> -->

                    <ion-button class="login-button" type="submit" (click)="shareEmail(signupForm.value.email, signupForm.value.password)" [routerLink]="userexists() ? [] : ['/createprofile']" [disabled]='!isChecked' >Create Account</ion-button>
                  </ion-card-content>

                  <div class="center">
                    <ion-card-content class="ion-no-padding" style="display: inline;color: black;">Not a member yet?
                    </ion-card-content>
                    <ion-card-content  style="cursor: pointer;" class="hyperlink" routerLink="/home">Login Now</ion-card-content>
                  </div>
                </ion-col>
              </ion-row>
            </form>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
